<form [formGroup]="form">
  <div class="container">
    <mat-form-field>
      <mat-label>What is {{ num1 }} plus {{ num2 }}?</mat-label>
      <input matInput type="text" formControlName="ans" />
      @if (form.controls['ans'].invalid) {
      <mat-error>Invalid input</mat-error>
      }
    </mat-form-field>
    @if (tries !== 3) {
    <p>Wrong answer. {{ tries }} tries remaining.</p>
    } @if(showSpinner) {
    <mat-spinner [diameter]="50"></mat-spinner>
    } @else {
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
    }
  </div>
</form>
